{% load crispy_forms_tags %}

<form class="employee-payroll-form" method="POST" enctype="multipart/form-data" data-url="{% url 'create_payroll_bill' employee.id %}">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Employee ID:<strong>({{ employee.id }}) </strong></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
         {{ form|crispy }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>