{% extends 'registration/base_registration_form.html' %}
{% block body_block %}

<div class="container">
    <div class="card card-login mx-auto mt-5 custom-form-color">
        <div class="card-header text-white">Reset Password</div>
        <div class="card-body">
            <div class="text-center mb-4 text-white">
                <h4>Your registration has been successful!</h4>
                You've been successfully registered! Please wait until the administrator validates your information and gives you accessibilty to this website. Thank you!.
            </div>

            <div class="text-center">
                <a class="d-block small text-white" href="{% url 'user_login' %}">Return to Login Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}