{% extends 'registration/base_registration_form.html' %}
{% load crispy_forms_tags %}
{% block body_block %}

<div class="container">
    <div class="card card-login mx-auto mt-5 custom-form-color">
        <div class="card-header text-white">Reset Password</div>
        <div class="card-body">
            <div class="text-center mb-4 text-white">
                <h4>Update your password?</h4>
                <p>Update your password and stay secure!</p>
            </div>
            <form method="POST">
                <div class="form-group">
                     {% csrf_token %}
                        {{ form|crispy }}
                </div>
                <button type="submit" class="btn btn-danger btn-block text-white">Update Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock body_block %}