{% extends 'registration/base_registration_form.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container">
    <div class="card card-login mx-auto mt-5 custom-form-color">
        <div class="card-header text-white">Reset Password</div>
        <div class="card-body">

            {% if validlink %}

            <form method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <button type="submit" class="btn btn-danger btn-block text-white">Save Password</button>
            </form>

            {% else %}

            <div class="text-center">
                <h1 class="h4 text-white mb-2">Invalid Token</h1>
            </div>
            <div class="text-center">
                <a class="small text-white" href="{% url 'password_reset' %}">Request a new password reset token</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body_block %}