{% extends 'registration/base_registration_form.html' %}
{% block body_block %}


<div class="container">
    <div class="card card-login mx-auto mt-5 custom-form-color">
        <div class="card-header text-white">Reset Password</div>
        <div class="card-body">
            <div class="text-center mb-4 text-white">
                <h4>Update Password</h4>
                <p>Your password has successfully updated!</p>
            </div>
            <div class="text-center text-white">
                <a class="d-block small" href="{% url 'user_login' %}">Return to Login Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}